* {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Nanum Gothic';
    vertical-align: top;
}

button {
    outline: none;
    border: none;
    background-color: inherit;
    cursor: pointer;
    color: inherit
}

header{
    max-width: 768px;
    margin:0 auto;
    position: relative;
} 

section {
    max-width: 768px;
    margin: 0 auto;
    position: relative;
}

.header-menu{
    color:#fff;
    display:flex;
    padding:30px;
    justify-content: flex-end;
    position: absolute;
    right:0;
    z-index: 999;
}


.header-menu > li{
    padding-left:10px;
}

.header-menu > li > .header-login,
.header-menu > li > .header-logout{
    display: none;
}

.post {
    margin-bottom: 10px;
    padding: 30px;
    padding-top: 80px;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 300px;
    color: #fff;
    position: relative;
}

.post::after {
    background: #000;
    opacity: 0.6;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.post .post-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    border-bottom: 1px solid #fff;
    z-index: 1;
    position: relative;
}

.post .post-info .post-date {
    opacity: 0.8;
    font-size: 16px;
}

.post .post-content {
    font-size: 18px;
    line-height: 1.5;
    word-break: keep-all;
    z-index: 1;
    position: relative;
}

.post .post-btn {
    position: absolute;
    bottom: 2em;
    right: 2em;
    z-index: 1;
    border: 1px solid #fff;
    padding: 5px 10px
}

.comment-list {
    padding: 10px 30px;
}

.comment-list .comment-header {
    text-align: right;
}

.comment-list .addform{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment-list .addform > div:last-child{
    width:90%;
}
.comment-list .comment-profile{
    border-radius: 50%;
    overflow: hidden;
    width:45px;
    height:45px;
    border:2px solid #ccc
}
.comment-list .comment-profile img{
    width:100%
}

.comment-list #new-comment {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    height: 50px;
    transition: 0.5s all;
    margin-bottom: 10px;
}

.comment-list #new-comment:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
}


.comment-list .new-commit-btn {
    display: flex;
}

.comment-list .new-commit-btn button {
    padding: 10px 20px;
    border-radius: 5px;
}

.comment-list .new-commit-btn #comment-submit {
    background-color: #ccc;
    color: #fff
}

.comment-list .new-commit-btn #comment-submit.active {
    background-color: #065fd4;
}

.comment-list .comment-row {
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid #eee
}

.comment-list .comment-row:first-child,
.comment-list .comment-row:last-child {
    border: none
}

.comment-list .comment-row .comment-info {
    display: flex;
    align-items: center;
    padding-bottom: 15px
}

.comment-list .comment-row .comment-info .comment-photo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    border : 2px solid #ccc;
    margin-right:10px;
}

.comment-list .comment-row .comment-info .comment-photo img{
    width:100%;
}

.comment-list .comment-row .comment-info .comment-date {
    color: #999;
    padding-left: 10px;
    font-size: 14px;
}

.comment-list .comment-row .comment-content {
    padding-bottom: 20px;
    line-height: 1.5;
    font-size: 15px
}

.comment-list .comment-row .more-btn {
    color: #ccc;
    position: absolute;
    top: 1.8em;
    right: 1em;
}

.comment-list .comment-row .commit-btn {
    position: absolute;
    display: none;
    right: 1em;
    top: 1.5em;
    background: #fff;
    width: 150px;
    text-align: center;
    box-shadow: 0px 0px 6px 0px rgb(41 42 42 / 15%);
}

.comment-list .comment-row .commit-btn.active {
    display: block;
}

.comment-list .comment-row .commit-btn>li {
    border-bottom: 1px solid #ccc
}

.comment-list .comment-row .commit-btn>li:last-child {
    border: none
}

.comment-list .comment-row .commit-btn>li>button {
    padding: 10px;
}

.comment-list .comment-row .commit-btn>li>button>i {
    padding-right: 10px;
    font-size: 18px;
}


.comment-list .comment-row .like-btn,
.comment-list .comment-row .dislike-btn {
    border: 1px solid #ccc;
    padding: 3px 15px;
    border-radius: 10px;
    color: #666
}

.comment-list .comment-row .like-btn{
    margin-right:8px;
}

.comment-list .comment-row .like-btn.active,
.comment-list .comment-row .dislike-btn.active {
    border: 2px solid #666;
}

.comment-list .comment-row .comment-editor {
    position: fixed;
    width: 100%;
    right: 0;
    left:0;
    bottom: 0;
    z-index: 3;
}

.comment-list .comment-row .comment-editor input {
    outline: none;
    font-size: 18px;
    width:100%;
    line-height: 50px;
    padding:0 10px;
    border:1px solid #eee
}

.comment-list .comment-row .comment-editor .comment-editor-submit{
    font-size: 20px;
    border-radius: 10px;
    color:#065fd4;
    position: fixed;
    bottom:0;
    right:0;
    padding:15px;
}

.empty-block {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 2;
}


.login-box {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    max-width: 768px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    text-align: center;
}


.login {
    background-color: #fff;
    padding: 15px;
    width: 70%;
    border-radius: 15px;
}

.login .login-header {
    padding: 20px 0;
}

.login .login-header span {
    color: #065fd4
}

.login-btns>li {
    padding: 5px;
}

.login-btns>li>button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
    padding: 13px 0;
    font-size: 14px;
    font-weight: bold;
}


.login-btns>li>.naver-login {
    background-color: #00c300;
}

.login-btns>li>.kakao-login {
    background-color: #fae100;
    color: #3b1d1e
}

.login-btns>li>.facebook-login {
    background-color: #1877f2;
}

.login-btns>li>.google-login {
    background-color: #4285f4;
}

.login-btns>li>.twitter-login {
    background-color: #1da1f2;
}

.login-btns>li>.github-login{
    background-color: #aaa;
    color:#000
}

.login img {
    width: 20px;
    padding-right: 15px;
}


@media (max-width:620px) {
    .comment-list .addform > div:last-child{
        width:80%
    }
}

@media (min-height:1100px){
    .editor-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .comment-list .comment-row .comment-editor{
        position: relative;
    }
    .comment-list .comment-row .comment-editor .comment-editor-submit{
        position: absolute
    }
    .comment-list .comment-row .comment-editor input{
        padding:0;
    }
}